<main class="text-center p-12">
  <h1 class="font-bold text-3xl">Sidekiq Book Example App</h1>
  <h2 class="font-bold text-2xl mt-2">Welcome!</h2>
  <p class="m-auto">
    You probably want to <%= link_to "add an order", new_order_path, class: "underline text-blue-800" %>.
  </p>
</main>
